@font-face {
  font-family: "Cookie";
  src: url("../font/Cookie/Cookie-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Courgette";
  src: url("../font/Courgette/Courgette-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DancingScript";
  src: url("../font/Dancing_Script/DancingScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "DancingScriptBold";
  src: url("../font/Dancing_Script/DancingScript-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "GreatVibes";
  src: url("../font/Great_Vibes/GreatVibes-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "KaushanScript";
  src: url("../font/Kaushan_Script/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Playball";
  src: url("../font/Playball/Playball-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Satisy";
  src: url("../font/Satisfy/Satisfy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Tangerine";
  src: url("../font/Tangerine/Tangerine_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "TangerineBold";
  src: url("../font/Tangerine/Tangerine_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Yellowtail";
  src: url("../font/Yellowtail/Yellowtail-Regular.ttf") format("truetype");
}
