.about {
  height:10%;
}

.about-me {
  top: 4em;
}

.about-me-bio {
  font-size: 1.2em;
}

//// BreakPoints - Other Devices /////
//// START WITH LARGEST SCREEN-SIZE AT THE TOP, WORKING YOUR WAY DOWN ////




@include bp-iphone4-4s {
  .about-me {
    top: 32em;
  }
}

@include bp-iphone5-5s {
  .about-me {
    top: 30em;
  }

}

@include bp-iphone6 {
  .about-me {
    top: 22em;
  }

}

@include bp-iphone6-plus {
  .about-me {
    top: 15em;
  }
}
