html,
body,
header,
.view {
    height: 100%;
    background: rgba(0,0,0,0);
}
.view2 {
  height: 0%;
}

html {
    min-width:100%;
    min-height:100%
}
html:after {
    content : "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("/dist/images/original/golden-greek-pattern.jpg");
    width: 100%;
    height: 100%;
    opacity : 0.3;
    z-index: -1;
}

/* Navigation*/

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: rgba(224, 185, 47, 1);
    div > .navbar-brand,
    div > a > img,
    div > #navbarNav > .navbar-nav > .nav-item > a{
      color: rgb(56, 49, 49);
    }
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: rgba(224, 185, 47, 1);
        .navbar-dark {
            color: rgb(56, 49, 49);
        }

    }
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

// Row
.row {
  margin-right: 0;
  margin-left: 0;
}

/*Intro*/
.view {
    background: url("/dist/images/original/beautybg.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}

/*Intro*/
.view2 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 1;
    color: white;
}

.about-me {
  top: -70px;
}
